<template>
  <div class="home">
    <table-Department :tableParam="dataJson"></table-Department>
  </div>
</template>

<script>
// @ is an alias to /src
import TableDepartment from '../components/TableDepartment.vue'

export default {
  name: 'Home',
  components: {
    'table-Department': TableDepartment
  },
  created(){
    this.getData();
  },
  data(){
  return{
    dataJson:[]
};
  },
  methods: {
    async getData(){
      const res=await fetch('http://localhost:58760/api/department');
      const resJson= await res.json();
      this.dataJson=resJson;
      console.log(this.dataJson);
      //adsad
    }
  }
}
</script>
