<template>
  <div>
    <b-table striped hover :items="items" :fields="fields"></b-table>
  </div>
</template>

<script>
  export default {
    props:['tableParam'],
    watch:{tableParam:function(){this.buildDepartments()}},
    data() {
      return {
        // Note `isActive` is left out and will not appear in the rendered table
        fields: ['id', 'Name'],
        items: []
      }
    },
    methods:{
        buildDepartments(){
            this.items=this.$props.tableParam
            .map(dep => {
          return {
            id: dep.id,
            Name: dep.name,
          }
        })
        }
    }
  }
</script>